<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Add.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
</head>
<body>
     <aside>

        <div class="logo">
            <img src="{{ url_for('static', filename='Colaimo.jpg') }}" alt="COLAIMO Logo">
            <h2>MatriTrack</h2>
        </div>

        <a href="{{ url_for('dashboard') }}">
            <span class="material-symbols-outlined">
                dashboard
            </span>
            <h3>Dashboard</h3>
        </a>

        <a href="{{ url_for('search') }}">
            <span class="material-symbols-outlined">
                content_paste_search
            </span>
            <h3>Search</h3>
        </a>

        <a href="{{ url_for('add') }}">
            <span class="material-symbols-outlined">
                add_box
            </span>
            <h3>Add</h3>
        </a>

        <a href="{{ url_for('profile') }}" class="active">
            <span class="material-symbols-outlined">
                person
            </span>
            <h3>Profile</h3>
        </a>

    </aside>

    <main>
       <div class="add-mater">
        <div>
            <h3>Ajouter un materiel</h3>
            <h4>Remplissez les informations pour ajouter un nouveau materiel au parc informatique</h4>
        </div>
        <div class="info-mater">

            <form  class="info-mater" method="POST" action="{{ url_for('add') }}">
                <div>
                    <label for="type"> Type de materiel</label>
                    <select name="type_materiels" id="type" required>
                        <option value="">choisis un materiel</option>
                        <option value="">Pc</option>
                        <option value="">Souris</option>
                        <option value="">Clavier</option>
                        <option value="">Unite centrale</option>
                        <option value="">Impremante</option>
                    </select>
                
                
                </div>

                <div>
                <label for="marque">Marque</label>
                <input type="text" id="marque" name="marque" required>
                </div>


             <div>
                <label for="">Nom complet</label>
                <input type="text" name="nom_personne" id="nom_personne" required>
             </div>



             <div>
                <label for="">Departement</label>
                <select name="departement" id="departement">
                    <option value="">Sélectionner un département</option>
                    <option value="informatique">Informatique</option>
                    <option value="rh">Ressources Humaines</option>
                    <option value="finance">Finance</option>
                    <option value="comptabilite">Comptabilité</option>
                    <option value="commercial">Commercial</option>
                    <option value="production">Production</option>
                </select>
             </div>
              <button type="submit">Ajouter le matériel</button>

              </div>




            </form>



           
       </div> 
    </main>
</body>
</html>