<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COLAIMO</title>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
</head>

<body>
 
    <div class="container">

    
    <aside>

        <div class="logo">
            <img src="{{ url_for('static', filename='Colaimo.jpg') }}" alt="COLAIMO Logo">
            <h2>MatriTrack</h2>
        </div>

        <div class="close" id="close-btn">
            <span class="material-symbols-outlined">
                close
            </span>
        </div>

        <a href="{{ url_for('search') }}">
            <span class="material-symbols-outlined">
                content_paste_search
            </span>
            <h3>Search</h3>
        </a>

        <a href="{{ url_for('add') }}">
            <span class="material-symbols-outlined">
                add_box
            </span>
            <h3>Add</h3>
        </a>
         <a href="{{ url_for('profile') }}">
            <span class="material-symbols-outlined">
                account_circle
            </span>
            <h3>Profil</h3>
        </a>

    </aside>

    
    <main>

        <h1>Dashboard</h1>


        <div class="insights">

            <div class="sales">
                <span class="material-symbols-outlined">
                    analytics
                </span>

                <div class="middle">
                    <div class="left">
                        <h3>Total des Matériels</h3>
                        <h1>{{ total }}</h1>
                    </div>

                    <div class="prog">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>

                       
                    </div>
                </div>

                
            </div>

            <div class="sales">
                <span class="material-symbols-outlined">
                    analytics
                </span>

                <div class="middle">
                    <div class="left">
                        <h3>Matériels Disponibles</h3>
                        <h1>{{ disponible }}</h1>
                    </div>

                    <div class="prog">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>

                    </div>
                </div>

                
            </div>

            <div class="dispo">
                <span class="material-symbols-outlined">
                    analytics
                </span>

                <div class="middle">
                    <div class="left">
                        <h3>Matériels Affectés</h3>
                        <h1>{{ affecte }}</h1>
                    </div>

                    <div class="prog">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>

                       
                    </div>
                </div>

                
            </div>

        </div>

        <div class="recent-orders">
    <h2>Derniers Matériels</h2>

    <table>
        <thead>
            <tr>
                <th>Nom complet</th>
                <th>Type</th>
                <th>Marque</th>
                <th>Quantité</th>
                <th>Departement</th>
                <th>Etat</th>
            </tr>
        </thead>

     <tbody>
         

        {% for materiel in derniers_materiels %}

     <tr>
        <td>{{ materiel.nom_personne }}</td>
        <td>{{ materiel.Type_materiels }}</td>
        <td>{{ materiel.marque }}</td>
        <td>{{ materiel.quantite }}</td>
        <td>{{ materiel.Departement }}</td>
        <td class="success">{{ materiel.etat }}</td>
     </tr>

     {% endfor %}


     </tbody>
    </table>
</div>

    </main>

</div>
</body>
</html>