<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
</head>
<body>
    
    <div class="container"  >
        <h2 class="login">LOG IN </h2>
        <form class="form" action="/login" method="POST">
            
            <label class="label-login" for="">Id</label>
            <input class="input-login" type="text" id="username" name="username">
            
            <label class="label-login" for="">Password</label>
            <input class="input-login" type="password"  id="password" name="password">
            
        
          <button class="btn" type="submit"> Log in</button>
        </form>  
    </div>


   
</body>
</html>