<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='profil.css') }}">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
</head>

<body>

    <aside>

        <div class="logo">
            <img src="{{ url_for('static', filename='Colaimo.jpg') }}" alt="COLAIMO Logo">
            <h2>MatriTrack</h2>
        </div>

        <a href="{{ url_for('dashboard') }}">
            <span class="material-symbols-outlined">
                dashboard
            </span>
            <h3>Dashboard</h3>
        </a>

        <a href="{{ url_for('search') }}">
            <span class="material-symbols-outlined">
                content_paste_search
            </span>
            <h3>Search</h3>
        </a>

        <a href="{{ url_for('add') }}">
            <span class="material-symbols-outlined">
                add_box
            </span>
            <h3>Add</h3>
        </a>

        <a href="{{ url_for('profile') }}" class="active">
            <span class="material-symbols-outlined">
                person
            </span>
            <h3>Profile</h3>
        </a>

    </aside>
    
    <main>

        <div class="profile-page">

            <div class="prof-info">

                <div class="profile-picture">
                    <img src="{{ url_for('static', filename=admin1.jpg) }}" alt="Profile" alt="Profile">
                </div>

                <div class="profile-main">

                    <h1>{{ admin.Nom_complet }}</h1>

                    <p class="job">
                        Administrateur
                    </p>

                    <p class="description">
                        Responsable de la gestion des équipements
                        et du suivi du parc informatique.
                    </p>

                </div>

                <div class="profile-details">

                    <div class="email">
                        <span class="material-symbols-outlined">
                            mark_email_unread
                        </span>

                        <h3>{{ admin.email }}</h3>
                    </div>

                    <div class="phone">
                        <span class="material-symbols-outlined">
                            phone_in_talk
                        </span>

                        <h3>{{ admin.telephone }}</h3>
                    </div>

                    <div class="role">
                        <span class="material-symbols-outlined">
                            admin_panel_settings
                        </span>

                        <h3>Role : Administrateur</h3>
                    </div>

                </div>

            </div>


            <div class="profile-form">

                <div class="form-row">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" value="{{ admin.email }}">
                    </div>

                    <div class="form-group">
                        <label for="telephone">Téléphone</label>
                        <input type="tel" id="telephone" value="{{ admin.telephone }}">
                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group">
                        <label for="post">Poste</label>
                        <input type="text" id="post" value="{{ admin.Departement }}">
                    </div>

                    <div class="form-group">
                        <label for="adresse">Adresse</label>
                        <input type="text" id="adresse" value="{{ admin.adresse }}">
                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group">
                        <label for="date-naissance">
                            Date de naissance
                        </label>

                        <input type="date" id="date-naissance">
                    </div>

                    <div class="form-group">
                        <label for="langue">Langue</label>

                        <select id="langue">
                            <option>Français</option>
                            <option>Anglais</option>
                        </select>
                    </div>

                </div>

            </div>

        </div>

    </main>

</body>
</html>