<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
</head>
<body>
     <aside>

        <div class="logo">
            <img src="Colaimo.jpg" alt="COLAIMO Logo">
            <h2>MatriTrack</h2>
        </div>

        <a href="{{ url_for('dashboard') }}">
            <span class="material-symbols-outlined">
                dashboard
            </span>
            <h3>Dashboard</h3>
        </a>

        <a href="{{ url_for('search') }}">
            <span class="material-symbols-outlined">
                content_paste_search
            </span>
            <h3>Search</h3>
        </a>

        <a href="{{ url_for('add') }}">
            <span class="material-symbols-outlined">
                add_box
            </span>
            <h3>Add</h3>
        </a>

        <a href="{{ url_for('profile') }}" class="active">
            <span class="material-symbols-outlined">
                person
            </span>
            <h3>Profile</h3>
        </a>

    </aside>

    <main>


    <div class="page-header">

        <div>
            <h1>Liste des matériels</h1>
            <p>Gestion et suivi du parc informatique</p>
        </div>

        <a href="add.html" class="add-button">
            <span class="material-symbols-outlined">
                add
            </span>
            Ajouter un matériel
        </a>

    </div>



    <div class="search-box">

        <span class="material-symbols-outlined">
            search
        </span>

        <input
            type="text"
            placeholder="Rechercher un matériel..."
        >

    </div>

    <div class="table-container">

        <table>

            <thead>

                <tr>
                    <th>Référence</th>
                    <th>Type</th>
                    <th>Marque</th>
                    <th>Personne</th>
                    <th>Département</th>
                    <th>État</th>
                    <th>Actions</th>
                </tr>

            </thead>


            <tbody>

               

                <tr>

                    <td>MAT-001</td>

                    <td>PC</td>

                    <td>MSI</td>

                    <td>Ahmed El Amrani</td>

                    <td>Informatique</td>

                    <td>
                        <span class="status available">
                            Disponible
                        </span>
                    </td>

                    <td>

                        <div class="actions">

                            

                            <button class="edit">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>

                            

                            <button class="delete">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>

                        </div>

                    </td>

                </tr>


                

                <tr>

                    <td>MAT-002</td>

                    <td>Clavier</td>

                    <td>Logitech</td>

                    <td>Sara Benali</td>

                    <td>Finance</td>

                    <td>
                        <span class="status assigned">
                            Affecté
                        </span>
                    </td>

                    <td>

                        <div class="actions">

                            <button class="edit">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>

                            <button class="delete">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>

                        </div>

                    </td>

                </tr>


                

                <tr>

                    <td>MAT-003</td>

                    <td>Souris</td>

                    <td>HP</td>

                    <td>Youssef Alaoui</td>

                    <td>Ressources Humaines</td>

                    <td>
                        <span class="status maintenance">
                            Maintenance
                        </span>
                    </td>

                    <td>

                        <div class="actions">

                            <button class="edit">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>

                            <button class="delete">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>

                        </div>

                    </td>

                </tr>


               

                <tr>

                    <td>MAT-004</td>

                    <td>Imprimante</td>

                    <td>HP</td>

                    <td>—</td>

                    <td>Comptabilité</td>

                    <td>
                        <span class="status available">
                            Disponible
                        </span>
                    </td>

                    <td>

                        <div class="actions">

                            <button class="edit">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>

                            <button class="delete">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>

                        </div>

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</main>
</body>
</html>